*{

}

/* .cv{
    display: flex;
    justify-content: center;
    align-items: center;
} */

h1, h2, ul, small{
    text-align: center;
}
.brown{
    color: brown;
}
.white{
    color: white;
}
.dark-blue{
    color: blue;
}
.red{
    color: red;
}

.bold{
    font-weight: bold;
}
li{
    list-style: none;
}